<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex">
    <a href="/event/new"
      ><button type="submit" class="btn3">Add Event</button></a
    >
  </body>
</html>
