body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 10px;
}

a {
  color: #00b7ff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.form {
  margin: 0 auto;
  width: 600px;
  padding: 10px;
}
.form1 {
  width: 600px;
  padding: 10px;
  margin: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.btn1 {
  background-color: rgb(197, 93, 56);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 12px;
}
.btn2 {
  background-color: rgb(45, 187, 52);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.likes {
  background-color: rgb(58, 80, 175);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 12px;
}
.btn3 {
  background-color: rgb(38, 53, 119);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  text-align: center;
  margin-left: 12px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  padding: 20px;
}
main {
  padding: 32px;
}
.container {
  width: 700px;
  margin: 10px;
  background-color: cornsilk;
  padding: 10px;
}

.remarks {
  width: 400px;
  margin: 10px;
  background-color: cyan;
  padding: 10px;
}
h4,
h3 {
  font-size: 18px;
  margin: 5px 0;
}
h2 {
  font-size: 26px;
  font-weight: 600;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
